body {
  margin: 0; 
    font-family: Serif;
    background-color: rgb(255, 255, 255);
    background-image: url("Home.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
   ;
  }



  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
   ;
  }
  li:last-child {
    border-right: none;
  }
  
  li a {
    font-size: 20px;
    display: block;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #b393d3;
  }
  .active {
    background-color: #04AA6D;
  }

 
  
  

  .shape {
    font-family: serif;
    display: flex;
    flex-direction: column; /* Display content in a column */
    align-items: Center; /* Adjust alignment as needed */
    justify-content: left; /* Adjust alignment as needed */
    width: 100%; /* Ensure full width */
    height: 100vh; /* Make the container cover the viewport height */
    position: relative;
    font-size: 77px;
    overflow: hidden;
    position: absolute;
    width: 500px;
    height: 800px;
    background-color: #ffffff; /* Shape background color */
    border-radius: 5%; /* Circle shape */
    opacity: 0.5; /* Adjust the opacity as desired */
    z-index: -1; /* Place the shape behind the text */
    
  }
  
  .shape p,
  .shape .p2 {
    margin-top: 150px;
    margin-bottom: 0;
    font-weight: 200;
    padding: 20px; 
    background-color: transparent;
    text-align: left;
    z-index: 1;
    position: relative;
    display: block; 
  }
  
  .shape .p2 {
    font-size: 30px; 
    margin: 0;
    padding: 20px;
    background-color: transparent;
    text-align: left;
    z-index: 1;
    position:relative ;
  }
  
  
  
  
  
 
  
  
  

  

  
  
  